* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F6F8FC;
    display: flex;
    justify-content: center;
}

.pokedex{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #fff;
    /* max-width: 1500px; */
    min-width: 268px;
    margin: 2rem;
    border-radius: 2.5rem;
    height: 100vh;
    /* max-width: 100vh; */
    /* min-width: 225px; */
}

.title{
    margin: 0;
    padding: 1rem 0rem;
}

.pokemon-list{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding:0;
    margin:0;
}

.pokemon {
    margin: .5rem;
    padding: .5rem .7rem;
    /* background-color: #46D1B2; */
    border-radius: 1rem;
    /* max-width: 250px; */
    min-width: 160px;
    color: white;
    display: flex;
    flex-direction: column;
    
}

/* filtro de cor por tipo de pokemon */
.normal{
    background-color: #C6C6A7;
}

.fighting{
    background-color: #D67873;
}

.flying{
    background-color: #C6B7F5;
}
.poison{
    background-color: #C183C1;
}
.ground{
    background-color: #EBD69D;
}
.rock{
    background-color: #D1C17D;
}
.grass{
    background-color: #A7DB8D;
}
.water{
    background-color: #9DB7F5;
}
.fire{
    background-color: #F5AC78;
}
.steel{
    background-color: #D1D1E0;
}
.ghost{
    background-color: #A292BC;
}
.bug{
    background-color: #C6D16E;
}
.eletric{
    background-color: #FAE078;
}
.psychic{
    background-color: #FA92B2;
}
.ice{
    background-color: #BCE6E6;
}
.dragon{
    background-color: #A27DFA;
}
.dark{
    background-color: #A29288;
}
.fairy{
    background-color: #F4BDC9;
}

/* filtro de cor por tipo de pokemon FIM*/


.pokemon .detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemon .detail .types{
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pokemon .detail .types .type{
    list-style: none;
    padding: 0;
    font-size: 12px;
    /* background: rgba(255, 255, 255, .3); */
    padding: .20rem .5rem;
    margin: 4px;
    color:#fff;
    filter: brightness(1.1);
    text-align: center;
    border-radius: 10px;
}

.pokemon img{
    max-width: 110px;
    max-height: 70px;
    align-self: flex-end;
    padding: 0rem .7rem;
}

.pokemon .number{
    text-align: right;
    color: #000;
    opacity: .2;
    font-size: 13px;
}

.pokemon .name{
    padding: 5px;
    text-transform: capitalize;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button{
    background-color: #6c79db;
    border: 1rem;
    border-radius: 1rem;
    padding: .5rem .7rem;
    color: #fff;
    font-size: .825rem;
}


@media screen and (min-width: 448px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 624px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}